<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Registration</title>
</head>
<body>
    <h1>Welcome to the GUDLFT Registration Portal!</h1>
    Please enter your secretary email to continue:<div class="flash-messages">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="flash-message">{{ message }}🥲</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<form action="showSummary" method="post">
    <label for="email">Veuillez saisir l'e-mail de votre secrétaire pour continuer :</label>
    <input type="email" name="email" required/>
    <button type="submit">Login</button>
</form>

<h2>Information sur tous les clubs</h2>
<table>
    <thead>
        <tr>
            <th>Nom du club</th>
            <th>Email</th>
            <th>Points disponibles</th>
        </tr>
    </thead>
    <tbody>
        {% for club in clubs %}
        <tr>
            <td>{{ club['name'] }}</td>
            <td>{{ club['email'] }}</td>
            <td>{{ club['points'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h2>Information sur toutes les compétitions</h2>
<table>
    <thead>
        <tr>
            <th>Nom competition</th>
            <th>Date</th>
            <th>Place disponible</th>
        </tr>
    </thead>
    <tbody>
        {% for comp in competitions %}
        <tr>
            <td>{{ comp['name'] }}</td>
            <td>{{ comp['date'] }}</td>
            <td>{{ comp['numberOfPlaces'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>